@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200;1,500&display=swap');


* {
	border: none;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

body {
	background-image: linear-gradient(to bottom , #03000f, #050013);
	color: #fff;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}

.capa{
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
	width: 100%;
	margin: 0;
	position: relative;
}

#video-background {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
  }

.slogan-capa{
	margin: 5vh 0vw 0 4vw;
	font-size: 1.2em;
}

.slogan-capa p{
	margin-top: 1vh;
}

.rating{
	color: yellow;
}

.save-btn{
	margin-top: 6vh;
	background-color:#004aad;
	padding: 1%;
	color:#fff;
	font-weight: bold;
	text-decoration: none;
	border-radius: 10px;
	transform: translateY(0);
}

.save-btn:hover{
	background-color: #05017c;
	transition-duration: 1s;
}

.save-btn img{
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	filter: invert(100%);
}

.play-btn{
	margin-top: 1%;
	margin-left: 2%;
    position: absolute;
    border: 1px solid yellow;
	border-radius: 50px;
	padding: 1%;
    width: 32px;
    height: 32px;
}

.play-btn:hover{
	background-color: yellow;
}

header {
	height: 12vh;
	width: 100%;	
}

#logo{
	margin-top: 2vh;
	width: 120px;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 100%;
}

.menu{
	width: 80%;
}

.menu a{
	font-size: 1.2em;
}

.menu ul {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: row;
	gap: 8vw;
}

.menu li{
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	border: none;
}

.menu li:hover{
	color: yellow;
	border-bottom: 2px solid yellow;
}

.menu-search-user{
	width: 10%;
	display: flex;
	justify-content: space-around;
	align-items: start;
	flex-direction: row;
	cursor: pointer;
}

.menu-search-user a{
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	padding-left: 2px;
}

.menu-search-user img{
	filter: invert(100%);
	padding-right: 5px;
}

.menu-search-user img:hover{
	transform: scale(1.2);
	transition: 0.3s ease;	
}

main {
	font-size: 1em;
	width: 100%;
}

section{
	margin-top: 6vh;
}

h2{
	margin: 0 0 2vh 3vw;
  }

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #004aad;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: lightskyblue;
	border-radius: 10px;
  }


.filmes{
	overflow: auto;
	white-space: nowrap;
	margin-left: 0%;
	padding: 0;
}

.filme {
	max-width: 25vw;
	max-height: 60vh;
	display: inline-block;
}

.filme img {
	width: 19vw;
	height: 57vh!important;
}

.filme p{
	display: none;
}

.filme:hover{
	border: 2px solid yellow;	
}

footer{
	margin-top: 8vh;
	text-align: center;
	padding: 2%;
	background-color: #004aad;
	bottom: 0;
}

