@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,200;1,500&display=swap');


* {
	border: none;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

body {
	background-image: linear-gradient(to bottom , #03000f, #050013);
	color: #fff;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #004aad;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: lightskyblue;
	border-radius: 10px;
  }

h1{
	font-family: 'Times New Roman', Times, serif;
}

header {
	height: 12vh;
	width: 100%;	
}
#logo{
	margin-top: 2vh;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 100%;
}

.menu ul {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: row;
	gap: 8vw;
}

.menu li{
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	border: none;
}

.menu li:hover{
	color: yellow;
	border-bottom: 2px solid yellow;
}

.menu-search-user{
	width: 10%;
	display: flex;
	justify-content: space-around;
	align-items: start;
	flex-direction: row;
	cursor: pointer;
}

.menu-search-user a{
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	padding-left: 2px;
}

.menu-search-user img{
	filter: invert(100%);
	padding-right: 5px;
}

.menu-search-user img:hover{
	transform: scale(1.5);
	transition: .3s ease;	
}

main{
   width: 100%;

}

h2{
  margin: 3vh 0;  
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin-top: 3vh;
}

.filmes{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 2%;
}

.filme{
    margin-bottom: 5vh;
}

.filme:hover{
	border: 4px solid yellow;
    transition: .4s ease-in-out;
    transform: scale(1.1);
}

.filme img {
	width: auto;
	height: 65vh!important;
}

footer{
	margin-top: 8vh;
	text-align: center;
	padding: 2%;
	background-color: #004aad;
}